body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
}
.table-container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.table_two {
    margin-top: 100px; 
    margin-bottom: 30px;
    padding-bottom: 60px;
}

.input-field {
    margin-right: 10px;
    margin-bottom: 25px;
}

#alphabetTable td {
    width: 20px; 
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td:first-child {
    width: 20%;
}
td:last-child {
    width: 80%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.color-selector {
    width: 50%;
}

.container {
    position: relative;
    min-height: 100vh;
}

.centered-button-container {
    text-align: center;
    position: absolute;
    bottom: 20px; 
    left: 0;
    right: 0;
}

/* nav bar start */

.navbar ul {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #00615E;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
}

/* contrast:  https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=00615E*/
.navbar li a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* contrast: https://webaim.org/resources/contrastchecker/?fcolor=0B1A36&bcolor=50FFB1 */
.navbar li a:hover {
    background-color: #50FFB1;
    color: #0B1A36;
    font-weight: bold;
}

/* nav bar end */

/* gen classes */
.float_left {
    float: left;
}

.float_right {
    float: right;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* homepage styling */

body {
    background-color: #801A86;
}

/* contrast: https://webaim.org/resources/contrastchecker/?fcolor=38204B&bcolor=FFEEF2*/
#welcomeBlurb {
    background-color: #FFEEF2;
    color: #38204B;
    margin: 5%;
    width: 40%;
    padding: 3%;
}