
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}



.navbar {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 90px;
    
}

.navbar a {
    text-decoration: none;
}

.first-table {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.first-table table {
    width: 100%;
    border-collapse: collapse;
}
.first-table td:first-child {
    width: 20%;
}
.first-table td:last-child {
    width: 80%;
}
.first-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.first-table th {
    background-color: #f2f2f2;
}
.color-selector {
    width: 50%;
}